@import "tailwindcss";

@theme {
  --font-display: "Space Grotesk", sans-serif;
  --font-body: "Inter", sans-serif;
  --font-mono: "JetBrains Mono", monospace;

  --color-bg: #0B1120;
  --color-surface: #1E293B;
  --color-text: #E2E8F0;
  --color-accent: #38BDF8;
  --color-warning: #F59E0B;
  --color-danger: #EF4444;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-body);
}